<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="demo.com.main.TestCase002"/>
      <class name="demo.com.main.TestCase001"/>
      <class name="demo.com.main.TestCase003"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
